.dynamicTable{
    width: 90%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 18px;
    color: #141414;
    margin: 0 auto;
}

.dynamicTable thead tr{
    background-color: #141414;
    color: #fff;
    text-align: center;
}

.dynamicCell{
    padding: 12px 15px;
    text-align: center;
    border: 1px solid #ddd;
}