.App {
  color: #141414;
}

.App .Breadcrumb {
  color:white;
  padding: 30px;
  margin-bottom: 50px;

  background-color: #141414;
}

.App .Breadcrumb span {
  cursor: pointer;
}

.App .Breadcrumb span:not(:last-child)::after {
  content: " > ";
}

.App .Breadcrumb span:hover {
  text-decoration: underline;
}

.App .Details {
  margin-top: 20px;
  padding: 20px;
  height: 170px;
  background-color: #141414;
  color:white;
}


.App .Details span {
  font-weight: bold;
}
